body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr var(--MsgContainerWidth);
    column-gap: 0;
    font-size: 16px;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--BodyBGColor);
    image-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
}

.chattedwithusersection {
    width: 100%;
    max-width: 40vw;
    height: 100%;
    overflow-y: hidden;
    background-color: var(--UserSectionBGColor);
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 122;
}

#accountOwner {
    all: unset;
    width: 100%;
    display: flex;
    font-family: POPPINS;
    background: var(--ConUserInfoBGColor);
    flex-direction: row;
    padding: .5rem 0rem .5rem .0rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid rgb(139, 139, 139)
}

#accountOwner #user_profile {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    overflow: hidden;
    margin-left: 1rem;
    border-radius: 50vw;
}

#user_profile img {
    width: 100%;
    height: 100%;
}

#accountOwner #user_name {
    width: max-content;
    align-self: center;
    margin-left: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchuser {
    font-size: 16px;
    width: 100%;
    background: var(--ConUserInfoBGColor);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    box-shadow: 0 0 .473rem black;
}

#searchuser input {
    margin: auto;
    width: 90%;
    display: block;
    padding: .2rem .4rem;
    margin-bottom: .4rem;
    border-radius: 50px;
    box-shadow: inset 0 0 102px rgba(135, 135, 135, .07);
    border: 1px solid black;
}

#allusers {
    width: 100%;
    height: 100%;
    display: flex;
}

.user {
    font-family: var(--FontFamily);
    font-size: .86rem;
    width: 97%;
    height: 3.5rem;
    background: var(--UserImgBgColor);
    display: grid;
    margin: .5rem 0rem .5rem 0rem;
    grid-template-columns: 1.2fr 5fr;
    place-items: center;
    position: relative;
}

.user:not(.user:last-child)::after {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 80%;
    height: .4px;
    bottom: -.8rem;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.user img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    -webkit-user-drag: none;
    overflow: hidden;
    background-color: var(--ConUserInfoBGColor);
    font-size: 1rem;
}

.user span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user:hover {
    cursor: pointer;
}

.NoUser {
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    height: max-content;
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(to right, rgb(213, 5, 62), 60%, rgb(21, 52, 152));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: monospace;
    text-transform: capitalize;
}

#Msgcontainer {
    width: 100%;
    height: 100%;
    padding-top: var(--ConUserInfoHeight);
    padding-bottom: var(--ConUserInfoHeight);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#Msgcontainer::-webkit-scrollbar,
.chattedwithusersection::-webkit-scrollbar {
    width: 0px;
}

.ConUserInfo {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--MsgContainerWidth);
    height: var(--ConUserInfoHeight);
    background: var(--ConUserInfoBGColor);
    box-shadow: 0 0 12px var(--DarkThemeColor);
    display: flex;
}

.ConUserInfoDiv {
    display: flex;
    align-items: center;
}

.ConUserInfoDiv img {
    align-self: center;
    -webkit-user-drag: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0rem 1.2rem;
}

.ConUserInfoDiv span {
    align-self: center;
}

.ConUserInfo .menu {
    display: none;
}

#burger {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 11;
    display: none;
}

#burger li {
    list-style: none;
    width: 1.7rem;
    height: 2px;
    background-color: black;
}

.msgshowingarea {
    all: unset;
    font-family: var(--FontFamily);
    border-radius: .4rem;
    font-size: .8rem;
    width: max-content;
    max-width: 45%;
    height: max-content;
    color: white;
    padding: .3rem .31rem;
    margin: .1rem 1rem;
}

.msg {
    padding: .1rem .5rem;
    word-wrap: break-word;
    overflow: hidden;
}

.msgownername {
    font-size: .81em;
    width: 100%;
    color: #21df22aa;
    font-weight: bold;
}

.reciver {
    align-self: flex-start;
    background-color: var(--MsgReceiverBGColor);
}

.sender {
    align-self: flex-end;
    background-color: var(--MsgSenderBGColor);
}

.timer {
    display: block;
    float: right;
    width: max-content;
    height: 10px;
    font-size: .81em;
    opacity: .6;
}

#focus {
    visibility: hidden;
    pointer-events: none;
    height: 10px;
    width: 100%;
}

#msgsendinginput {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding: .3rem;
    overflow: hidden;
    width: var(--MsgContainerWidth);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    background-color: var(--ConUserInfoBGColor);
    display: none;
}

#msgsendinginput .msginputbox {
    width: 95%;
}

#msgsendinginput .msgsendbtn {
    width: 5%;
    background-color: transparent;
}

.msginputbox input {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: .4rem .6rem;
}

.msgsendbtn button {
    background: transparent;
    width: 100%;
    height: 3rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: .4rem 0rem;
}

.msgsendbtn button img {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width:480px) {
    body {
        display: block;
    }
    .chattedwithusersection {
        display: none;
        width: 62%;
        max-width: 100vw;
        position: fixed;
        z-index: 123433;
    }
    #msgsendinginput {
        width: 100%;
        grid-template-columns: 70% 30%;
    }
    .ConUserInfo {
        width: 100%;
        justify-content: space-around;
    }
    .ConUserInfo .menu {
        display: block;
    }
    #burger {
        display: flex;
    }
}