:root {
    --bgcolor: hsl(224 10% 98%);
    --borderclr:darkgray;
}
*, *::before, *::after {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-size: .91em;
}
#container {
    width: 100vw;
    max-height: 100vh;
    background-color: var(--bgcolor);
}
#nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 2;
    box-shadow: 0 1px 18px black;
}
nav {
    width: 100%;
    align-items: baseline;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-right:0.3rem;
}
nav li {
    font-size: 14px;
    width:clamp(4rem,5rem,8rem);
    padding:0.5rem 0.6rem;
}
#maincontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
}
#searchbar {
    width: 40%;
    min-width:300px;
    margin-bottom:10px;
    margin-top:10px;
    display: flex;
    height: 28px;
}
#searchbar input{
    width: 100%;
    padding-left:10px; 
    padding-right:10px; 
    border: .2px solid var(--borderclr);
}

.filter {
    width:20%;
    min-width:250px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-left: 15px;
}
#Booksection {
    background: var(--bgcolor);
    width: 100vw;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    grid-column-gap:5rem; 
    grid-row-gap:2rem; 
    align-items:center;
    justify-content:center; 
    padding:.5rem .8rem;
}
::marker {
    background: yellow;
color: red;
}

.book {
    width:clamp(19rem,340px,25rem);
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    margin: 12px;
    position: relative;
    border: 1px solid gray;

}
.userinfo{
	width:100%;
    height:7%;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    padding:4px 8px;
    padding-top:12px;
}
.userinfo .dp{
    width:25px;
    height:25px;
    overflow: hidden;
    border-radius:50%;
}
.userinfo .dp img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.userinfo .username{
    max-height:1rem;
    max-width:5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:10px;
    font-size: 12px;
    font-family:sans-serif;  
    font-weight: bold;
}
.bookimg {
    width: 60%;
    height: 60%;
    padding: 12px;
}
.bookimg img {
    width:100%;
    height:100%;
    object-fit:cover;
    align-self: center;
}
.bookDetails {
    width: 80%;
    overflow-wrap: break-word;
    word-break: break-all;
    overflow-y:auto;
    justify-content: center;
}
.bookDetails label{
    display: inline-block;
    width:90%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    justify-content: center;
}
.options {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}
.options button {
    width: 60px;
    height: 35px;
    background: black;
    color: white;
    border: 2px solid black;
    font-weight: bolder;
    transition: all .4s ease-in-out;
    position: relative;
    margin:5px;
}
.options button:hover {
    background-image: linear-gradient(to right, red, 30%,blue);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#footer{
    width:100vw;
    background-color:#a2afe0;
    padding:30px;
    text-align: center;
}