* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer {
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: black;
    position: relative;
    padding: 0.7rem;
    margin-top: 1%;
    box-shadow: 0rem .2rem .4rem rgba(100, 100, 111, 0.2);
}

h3 {
    color: cadetblue;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer a {
    text-decoration: none;
    color: black;
}

.social-link a {
    padding: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social-link b {
    color: rgb(1, 9, 12);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer .logo_container {
    width: 6rem;
    height: 5rem;
    margin-left: 46.5%;
}

footer img {
    width: 2rem;
    height: 2rem;
    margin-left: 5%;
}