@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 :root {
    /* --maincolor: linear-gradient(135deg, #65f8a7, teal); */
    --maincolor: #f8f9fa;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--maincolor);
}

.container {
    max-width: 700px;
    width: 100%;
    /* background-color: rgb(192, 238, 231); */
    background: linear-gradient(135deg, #65f8a7, teal);
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 2rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

textarea {
    height: 100px;
    max-width: 100%;
    width: 294px;
    resize: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.details .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.details:hover .tooltiptext {
    visibility: visible;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: var(--maincolor);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

form .img-box label.details {
    display: flex;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(39, 142, 226);
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .img-box {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid rgb(0, 79, 99);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background-color: rgb(175, 216, 175);
}

#UploadCover {
    padding: 8px 12px;
    background: white;
}

.user-details .img-box:hover {
    background-color: rgb(0, 79, 99);
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #2e407c;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #2e407c;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 20px 0;
}

form .button input,
#error {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    transition: all .3s;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #65f8a7, teal);
}

form .button input:hover {
    transform: scale(.98);
    background: linear-gradient(-135deg, #65f8a7, #2e407c);
}

#error {
    display: none;
    background: #65f8a7;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: black;
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}