* {
    font-family: monospace;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bkimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 20rem;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 20px 70px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    border-radius: 1rem;
    transition: .2s linear;
}

.userinput {
    width: 88%;
    height: 2rem;
    margin: 1rem 0rem;
}

.userinput input,
.userinput button,
.userinput span {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 0.16em solid black;
    background: transparent;
}

.s1 input {
    background-color: red;
}

.password {
    display: flex;
    justify-content: flex-end;
}

img {
    display: flex;
    justify-self: flex-end;
    position: absolute;
    /* right: 30px;
    top: 5px; */
}

button {
    margin: 0px 0px 33px 0px;
    width: 34%;
    height: 36px;
    border-radius: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: initial;
    border: none;
}

span {
    width: 100%;
    text-align: center;
    margin: -23px 0px 20px 0px;
    font-size: 27px;
    font-weight: lighter;
}

.newac,
.oldac {
    font-size: 14px;
}

.newac>a,
.oldac>a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

#error-msg {
    width: 90%;
    height: max-content;
    max-height: 10rem;
    overflow-y: auto;
    padding: 5px;
    text-align: center;
    overflow-wrap: break-word;
    background-color: #f8d7da;
    border: 1px solid hsl(0, 40%, 40%);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 14px;
    font-family: Poppins;
    color: #721c24;
    display: none;
    transform: translateY(-100%);
    transition: .1s linear;
}