#main {
    min-height: 80vh;
    width: 95%;
    margin: auto;
    padding-top: 11%;
}

.mytable {
    border-collapse: collapse;
    width: 100%;
}

.mytable td,
.mytable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.mytable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.mytable tr:hover {
    background-color: #ddd;
}

.mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00B0B2;
    color: white;
}

.mytable th:hover {
    background-color: #019a9c;
}

.mytable_filter,
.mytable_length,
.mytable {
    margin: 20px 0;
}

.add {
    height: 2rem;
    background-color: #00B0B2;
    border: none;
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px rgb(163, 194, 191);
    padding: 0 20px;
    margin: 5rem 1rem 0 1rem;
}

.titleofpage {
    float: left;
    padding: 0.3% 31%;
    margin: 5rem 1rem 0 5%;
    border: 2px solid rgb(16, 61, 104);
    border-radius: 5%;
    box-shadow: 0 3px rgb(163, 194, 191);
    color: rgb(16, 61, 104);
}

.add:hover {
    background-color: #019a9c;
}

.add:active {
    background-color: .3e8e41;
    box-shadow: 0 5px rgb(163, 194, 191);
    transform: translateY(4px);
}

.edit {
    height: 2rem;
    background-color: #00B0B2;
    border: none;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px rgb(163, 194, 191);
    padding: 0 20px;
    margin-left: 24%;
}

.edit:hover {
    background-color: #019a9c;
}

.edit:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(163, 194, 191);
    transform: translateY(4px);
}